body {
	font-family: 'Arial', sans-serif;
}

body #stations button {
	color: white;
	border: none;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
	border-radius: 60px;
	background-color: darkgray;
}

body #controls {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #16a085;
}

body #controls > button {
	width: 60px;
	height: 100%;
	border: none;
	cursor: pointer;
	position: relative;
	background-color: transparent;
}

body #controls > button:before {
	top: 0;
	left: 0;
	opacity: 0;
	width: 40px;
	height: 40px;
	content: ' ';
	position: absolute;
	border-radius: 100%;
	will-change: opacity;
	background-color: white;
	transition: opacity 0.3s ease;
	transform: translate(25%, 25%);
}

body #controls > button:hover:before {
	opacity: .4;
}

body #controls span {
	color: white;
	margin-left: 10px;
	display: inline-block;
	transform: translateY(-5px);
}

body #controls span:last-child {
	float: right;
	margin-top: 28px;
	margin-right: 50px;
}

body #controls #overflow-button {
	right: -5px;
	bottom: 0px;
	position: absolute;
}

body #controls #overflow-menu {
	right: 10px;
	bottom: 70px;
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

body #controls #overflow-menu button {
	width: 100%;
	border: none;
	padding: 10px;
	display: block;
	cursor: pointer;
	background-color: transparent;
	border-bottom: 1px lightgray solid;
}

body #controls #overflow-menu button[inactive] {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

body #controls #overflow-menu button:last-child {
	border: 0;
}