/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main */
body {
	width:100%;
	height:100%;
	text-align:center;
	font-family: 'Roboto Light', sans-serif;
}

h1 {
	padding:2%;
	font-size:250%;
}

h2 {
	padding:2%;
	font-size:200%;
}

h3 {
	font-size:150%;
}

h4 {
	font-size:100%;
}

a {
	cursor:pointer;
	text-decoration:none;

	-webkit-transition:all .5s;
	transition:all .5s;
}

a:hover {
	text-decoration:underline;
}


/* Main */
body {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

body #display {
	top: 50%;
	left: 50%;
	width: 90%;
	height: 90%;
	margin: auto;
	z-index: 100;
	display: none;
	position: fixed;
	background-color: white;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body #display button {
	right: 0;
	bottom: 0;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	position: absolute;
	border-radius: 20px;
	background-color: #16a085;
	transform: translate(-50%, -50%);
}

body > div > div > div {
	display: flex;
	padding: 0 10px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

body > div > div > div > button {
	padding: 0;
	width: 170px;
	margin: 10px;
	border: none;
	cursor: pointer;
	text-align: left;
	display: inline-block;
	align-self: flex-start;
	background-color: white;
	transition: transform .2s ease;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body > div > div > div > button:hover {
	transform: scale(1.05) translateY(-5px);
}

body > div > div > div > button > div > * {
	margin: 5px 8px;
}

body > div > div > div > button > div h3 {
	font-size: 1.2em;
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}

body > div > div > div > button > div span {
	opacity: 0.8;
	margin-top: 0;
	display: block;
	font-size: 1em;
}

body > div > div > div > button .artwork {
	width: 170px;
	height: 170px;
	background-size: cover;
	background-position: center;
	background-image: url('/Assets/AlbumCover.png');
}

body > div > div > div > button.placeholder > div:first-child {
	background-image: none;
	background-color: gray;
	background-color: #16a085;
}

body > div > div > div > button.placeholder > div:last-child > h3 {
	background-color: lightgray;
}

body > div > div > div > button.placeholder > div:last-child > span {
	width: 70%;
	opacity: 0.5;
	background-color: #16a08590;
}