hr {
	border: none;
}

button {
	cursor: pointer;
}

body {
	margin: 0;
	font-family: 'Arial', sans-serif;
}

main button.styledBtn {
	border: none;
	cursor: pointer;
	position: relative;
	background-color: transparent;
}

main button.styledBtn:before {
	opacity: 0;
	width: 40px;
	height: 40px;
	content: ' ';
	display: block;
	position: absolute;
	border-radius: 100%;
	background-color: black;
	transition: opacity .3s ease;
	transform: translate(-20%, -20%);
}

main button.styledBtn:hover:before {
	opacity: 0.15;
}

main #main {
	display: flex;
	margin-top: 20px;
	margin-bottom: 80px;
	flex-direction: row;
}

main #main > div {
	flex: 1;
	width: 30%;
	margin: 0 5px;
	text-align: left;
}

main #main > div > hr {
	border-bottom: 1px gray solid;
}

main #main div h3 {
	display: inline;
	font-size: 150%;
	font-weight: normal;
	margin-bottom: 20px;
}

main #main div > span {
	font-size: 80%;
}

main #main div > button.inpBtn {
	width: 70px;
}

main #main div input {
	width: calc(100% - 77px);
}

main #main div > div {
	margin-top: -15px;
}

main #main div > div button {
	border: none;
	padding: 15px 0;
	background-color: transparent;
	border-bottom: 1px lightgray solid;
}

main #main div > div button:last-child {
	border-bottom: none;
}

main #main div > div button img {
	width: 90%;
}

main #main div > div#queue {
	margin-top: -15px;
}

main #main div > div#queue button {
	width: 100%;
	padding: 10px 0;
	margin-top: 3px;
}

main #main div > div#queue button a {
	display: none;
}

main #main div > div#queue button p {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

main #main div > div#queue button img {
	width: 20%;
	float: left;
	padding-right: 2px;
}

main #controls {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #16a085;
	transition: height .5s ease;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}

main #controls #seekBar {
	left: 0;
	margin: 0;
	top: -20px;
	width: 100%;
	height: 20px;
	cursor: pointer;
	position: absolute;
}

main #controls #seekBar:before, main #controls #seekBar:after {
	color: white;
	display: block;
	padding: 0 5px;
	content: '00:00';
	padding-top: 2px;
	background-color: #12876F;
}

main #controls #mainControls {
	color: white;
	margin-top: 15px;
}

main #controls #mainControls div button:before {
	background-color: white;
}